/*---------FONTE---------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*------------VARIÁVEIS GLOBAIS------------------*/
:root {
    --cor-primaria: #93A3B1;
    --cor-primaria-escura: #7C898B;
    --cor-bg: #f5f7fa;
    --cor-branco: #ffffff;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;

    --fonte: 'Roboto', sans-serif;

    --raio: 0.8rem;
    --transition: 0.3s ease;

}

/** -------- reset css--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------body----------*/
body {
    font-family: var(--fonte);
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 80%, rgba(237, 221, 83, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}


/* --------container-------*/
.container {
    background: var(--cor-bg);
    padding: clamp(2rem, 5vw, 3rem);
    border-radius: var(--raio);
    box-shadow: 0 8px 24px var(--cor-sombra);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/*-------título------------*/
.titulo {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
    color: var(--cor-texto);
    margin-bottom: 1.5rem;
    font-weight: 500;
}